<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度搜索小说风云榜</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">百度搜索小说风云榜</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <%
                        novels.forEach(function(novel){%>
                        <li class="list-group-item">
                            <a href="<%=novel.url%>"><%=novel.name%></a>
                        </li>
                        <%})
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>